{{#if success_msg}}
  <p class="alert text-success bg-white">
    {{success_msg}}
  </p>
{{/if}}

{{#if error_msg}}
  <div class="alert text-danger bg-white">
    <p>
      {{error_msg}}
    </p>
  </div>
{{/if}}