<form action="/students/{{student._id}}/subjects" class="container my-3" method="post">
    <p>
        Add Subject Form
    </p>
    <select class="form-select form-control" aria-label="Default select example" name="name">
        <option selected>Please Select Subject</option>
        <option value="English">English</option>
        <option value="Mathematic">Mathematics</option>
        <option value="Physics">Physics</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Biology">Biology</option>
    </select>

    <div class="form-group">
        <label for="marks">Enter Marks</label>
        <input type="number" class="form-control" id="marks" name="marks" placeholder="Enter Marks">
    </div>

    <div class="container d-flex justify-content-center">
        <button type="submit" class="btn btn-success">
            Add Subject
        </button>
    </div>
</form>
